<%= manage_form_for @post, :url => @post.new_record? ? manage_structure_posts_path(@structure.id) : manage_structure_post_path(@structure.id, @post.id) do |f| %>
  <div class="edit-cont">
    <div class="inputs-bl">
      <%= f.input :title, :input_html => { :class => "text name" } %>
      
      <%= f.input :published_at %>
      
      <%= f.ckeditor :content, :input_html => options_for_ckeditor(:width => 860) %>
    </div>
  </div>  
    
  <%= f.button :submit, :url => manage_structure_posts_path(@structure.id) %>
<% end %>
